.auth-form{
    width: 75%;
    margin: 2rem auto;
    border: 0;
    box-shadow: var(--box-shadow);
    padding: 1rem ;
    text-align: center;
    border-radius: 15px;
}.auth-form.auth-form .auth-form-group{
    text-align: right;
    margin: .5rem 0;
}.auth-form.auth-form .auth-form-group .auth-form-label{
    margin: 3px 8px;
}.auth-form.auth-form .auth-form-group .auth-form-input {
    width: 100%;
    padding: .4rem;
    font-size: 1rem;
    border: 1px solid var(--gray);
    transition: 300ms;
    border-radius: 25px;
    outline: 0;
}.auth-form.auth-form .auth-form-group .auth-form-input::placeholder {
    color: var(--blue);
}.auth-form.auth-form .auth-form-group .auth-form-input:focus{
    transition: 300ms;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 1.2rem;
}.auth-form .auth-form-group .auth-form-button{
    width: 100%;
    background-color: var(--blue);
    border-radius: 15px;
    padding: 5px;
    font-size: .8rem;
    color: white;
    border: 0;
    transition: 300ms;
    font-weight: 600;
}.auth-form .auth-form-group .auth-form-button:hover{
    background-color: white;
    color: var(--blue);
    transition: 300ms;
    font-size: 1rem;
    border: 1px solid var(--blue);
}.auth-form .auth-form-group .auth-form-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--blue);
    text-shadow:1px 1px 10px #00f3ffc9;
}.auth-form .auth-form-group .auth-form-delete{
    background-color: crimson;
}.auth-form .auth-form-group .auth-form-delete:hover{
    color: crimson;
    border: 1px solid crimson;
}.auth-form.auth-form .auth-form-group .auth-form-input::file-selector-button{
    background-color: white;
    border: 0;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
}@media only screen and (max-width : 768px){
    .auth-form {
        margin: .5rem auto;
        width: 100%;
    }.auth-form .auth-form-group .auth-form-title{
        font-size: 1rem;
    }
}