.navbar{
    border: 1px solid var(--gray);
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 1fr ;
}.navbar .links li .navbar-link{
    text-decoration: none;
    font-weight: 600;
    transition: 300ms;
    font-size: 1.2rem;
    color: var(--blue);
}.navbar .links{
    width: 75%;
    display: flex;
    justify-content: space-around;
}.navbar .links li .navbar-link:hover{
    text-shadow: var(--blue-text-shadow);
    transition: 200ms;
    font-size: 1.5rem;
}.navbar .links li .navbar-link:active{
    transition: 200ms;
    transform: scale(1.2);
}.navbar .navbar-info { 
    text-align: center;
    font-weight: 600;
    color: var(--blue);
    text-shadow: var(--blue-text-shadow);
    font-size: 1.2rem ;
}