.products-sections{
    width: 992px;
    margin: 0 auto;
}
.products-sections h2{
    color: var(--blue);
    text-shadow: var(--blue-text-shadow);
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 15px;
} 

.products .product{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.116);
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
} 
.products .product:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.116);
    transition: 300ms;
}
.products .product img{
    width: 100%;
    border-radius: 5px;
    height: 63%;
}
.products .product h3{
    font-size: 13px;
    height: 40px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.579);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.291);
}
.products .product button{
    background-color: white;
    color: var(--blue);
    border: 0;
    border-bottom: 2px solid var(--blue);
    margin: 1px 2px;
    width: 100%;
    border-radius: 15px;
    transition: 300ms;
}
.products-sections .product-pagination{
    margin: 20px auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.products-sections .product-pagination button{
    border: 1px solid var(--blue) ;
    background-color: var(--blue);
    color: white;
    margin: 0 5px;
    font-size: 15px;
    border-radius: 15px;
    transition: 300ms;
    width: 100%;
}.products-sections .product-pagination button:disabled{
    background-color: rgba(0, 110, 255, 0.685);
    border: rgba(0, 110, 255, 0.685) ;
}.products-sections .product-pagination button:hover{
    background-color: white;
    color: var(--blue);
    transition: 300ms;
    transform: translateY(-10px);
}
.products .product .btn-group{
    display: flex;
}
.products .product button:hover{
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    transition: 300ms;
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 255, 0.257);
}
.products .product button:active{
    transform: scale(1.04);
    transform: translateY(-2px);
    background-color: white;
    color: var(--blue);
}
.products .product .btn-group .change-btn{
    color: orangered;
    border-bottom: orangered 1px solid;
}.products .product .btn-group .change-btn:hover{
    background-color: orangered;
    color: white;
}
/*       992px         */
@media only screen and (max-width:992px){
    .products-sections{
        max-width: 768px;
    }
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/*       end  992px         */
/*       768px         */
@media only screen and (max-width:768px){
    .products-sections{
        max-width: 576px;
    }
    .products{
        grid-template-columns: 1fr 1fr;
    }
}
/*       end  768px         */
/*       576px         */
@media only screen and (max-width:576px){
    .products-sections{
        max-width: 400px;
    }
    .products{
        grid-template-columns: 1fr;
    }
}
/*       end  576px         */